.home {
  background-image: url('../../../assets/img/movie.jpeg');
  height: 100%;
  width: 100%;
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
  left: 0px;
  z-index: 1000;
  margin: '10px';
  -ms-transform: 'translateY(50%)';
  transform: 'translateY(50%)';

  /* padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%; */
  /* padding: 50px; */
}

.MuiPaper-root {
  margin: auto;
  box-shadow: 20px 20px 20px 20px black;
}
.card-body {
  background: black;
}
.MuiCardContent-root {
  background: #424242;
}
.makeStyles-root-1 {
  max-width: 600px !important;
  /* height: 800px; */
}
.mb-4 {
  padding: initial;
}

.cardLogin {
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
}
.cardSignUp {
  size: 90%;
}
